Service References/WSPartner/dotitpartner-v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dotit.com.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dotit.com.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dotit.com.org/">
      <s:element name="EncryptString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toEncrypt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccountUserSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cred" type="tns:DotitCredentials" />
            <s:element minOccurs="1" maxOccurs="1" name="keepAlive" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DotitCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="partnerId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateAccountUserSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateAccountUserSessionResult" type="tns:CreateSessionResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateSessionResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dsr" type="tns:DotitServiceResult" />
          <s:element minOccurs="0" maxOccurs="1" name="sessionGuid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DotitServiceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="returnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="returnMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="returnID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="listMessages" type="tns:ArrayOfDLogMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDLogMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DLogMessage" nillable="true" type="tns:DLogMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DLogMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="messageType" type="tns:LogLevel" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="notifyByEmail" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LogLevel">
        <s:restriction base="s:string">
          <s:enumeration value="Info" />
          <s:enumeration value="Warn" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EncryptStringSoapIn">
    <wsdl:part name="parameters" element="tns:EncryptString" />
  </wsdl:message>
  <wsdl:message name="EncryptStringSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptStringResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAccountUserSessionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccountUserSession" />
  </wsdl:message>
  <wsdl:message name="CreateAccountUserSessionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccountUserSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="DotitPartnerSoap">
    <wsdl:operation name="EncryptString">
      <wsdl:input message="tns:EncryptStringSoapIn" />
      <wsdl:output message="tns:EncryptStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccountUserSession">
      <wsdl:input message="tns:CreateAccountUserSessionSoapIn" />
      <wsdl:output message="tns:CreateAccountUserSessionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DotitPartnerSoap" type="tns:DotitPartnerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptString">
      <soap:operation soapAction="http://dotit.com.org/EncryptString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccountUserSession">
      <soap:operation soapAction="http://dotit.com.org/CreateAccountUserSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DotitPartnerSoap12" type="tns:DotitPartnerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EncryptString">
      <soap12:operation soapAction="http://dotit.com.org/EncryptString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccountUserSession">
      <soap12:operation soapAction="http://dotit.com.org/CreateAccountUserSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DotitPartner">
    <wsdl:port name="DotitPartnerSoap" binding="tns:DotitPartnerSoap">
      <soap:address location="http://localhost:60056/DotitPartner-v1.asmx" />
    </wsdl:port>
    <wsdl:port name="DotitPartnerSoap12" binding="tns:DotitPartnerSoap12">
      <soap12:address location="http://localhost:60056/DotitPartner-v1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>